<h2>contact</h2>

<div class="row">

<form accept-charset="UTF-8" action="https://formkeep.com/f/1b34df5a1e2f" method="POST" class="col-md-6" id="contact">
  <input type="hidden" name="utf8" value="✓" />
	<input type="text" class="form-control" name="name" placeholder="Your Name" required="required" />
  <input type="email" class="form-control" name="email" placeholder="Your Email" required="required" />
	<input type="url" class="form-control" name="url" placeholder="Your Website (optional)" />
	<textarea class="form-control" rows="3" name="comments">Questions, comments, good thoughts</textarea>
	<button type="submit" class="btn btn-default">Send</button>
</form>

<div class="col-md-6">
<p>Simply fill out this form, or contact me by email, phone or skype.</p>

<p>Email: <a href="mailto:lois@frontmatter.ca">lois@frontmatter.ca</a></p>

<p>Phone: 1-604-808-5244</p>

<p>Skype: lois.chan</p>

</div>